@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@200;400;800&family=Jost&family=Manrope:wght@300&family=Space+Mono:wght@700&display=swap');
:root {
  --black: #171321;
  --gray-text: #A4A4A4;
  --gray-box: #E3E3E3;
  --white: #F5F5F5;
  --footer-bg-color: #2D2C2C;
  --orange: #FF7E1B;

  --font-size: 24px;
  
  --logo-font: 'Bebas Neue', cursive, monospace; /* used for logo and main headers */
  --paragr-font: 'Jost', sans-serif;  /*used for paragraph leads*/
  --text-font: 'Manrope', sans-serif; /* used for all other text */
}

html {
  box-sizing: border-box;
}

