body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
  color: var(--black);
  font-family: var(--text-font);
  font-size: 24px;
}


.wrapper {
  background: url('./assets/images/hero-bg.png') no-repeat;
  width: 100%;
  margin: 10px 10px;
  background-size: auto 45%;
}


main {
  color: var(--white);
}

h1 {
  font-family: var(--logo-font);
  font-weight: 300;
}

h2 {
  font-family: var(--paragr-font);
  font-weight: 300;
}

p {
  font-family: var(----text-font);
}

