<<<<<<< HEAD
/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:ital,wght@1,200&family=Manrope:wght@200&display=swap'); */
/* root */
/* :root { */
  /* Define custom font families */
  /* --font-logo:'Bebas Neue', cursive;
  --font-paragraph: 'Jost', sans-serif;
  --font-other: 'Manrope', sans-serif;
  --font-weight-other: 400; */

  /* Define color scheme */
  /* --color-scheme: light;
  --color-text: rgba(28, 26, 26, 0.87);
  --color-bg: #ffffff; */

  /* Define text rendering properties */
  /* --font-synthesis: none;
  --text-rendering: optimizeLegibility;
  --font-smoothing: antialiased;
  --text-size-adjust: 100%;
} */

/* p {
  font-family: var(--font-paragraph);
} */

/* Apply custom font family and weight to other text elements */
/* body, button, input, select, textarea {
  font-family: var(--font-other);
  font-weight: var(--font-weight-other);
} */

/* Apply color scheme to elements
@media (prefers-color-scheme: dark) {
  :root {
    --color-scheme: dark;
    --color-text: rgba(255, 255, 255, 0.87);
    --color-bg: #1f1f1f;
  }
} */

/* body {
  color: var(--color-text);
  background-color: var(--color-bg);
  background-image: url('./assets/hero-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
} */

/* Apply text rendering properties to elements */
/* * {
  font-synthesis: var(--font-synthesis);
  text-rendering: var(--text-rendering);
  -webkit-font-smoothing: var(--font-smoothing);
  -moz-osx-font-smoothing: var(--font-smoothing);
  -webkit-text-size-adjust: var(--text-size-adjust);
} */
















/* .me-3 {

  font-weight: bold;
  color: red;
  background-color: red;
} */
/* .text-reset p a {
  display: block;


 } */





:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
=======
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@200;400;800&family=Jost&family=Manrope:wght@300&family=Space+Mono:wght@700&display=swap');
:root {
  --black: #171321;
  --gray-text: #A4A4A4;
  --gray-box: #E3E3E3;
  --white: #F5F5F5;
  --footer-bg-color: #2D2C2C;
  --orange: #FF7E1B;

  --font-size: 24px;
  
  --logo-font: 'Bebas Neue', cursive, monospace; /* used for logo and main headers */
  --paragr-font: 'Jost', sans-serif;  /*used for paragraph leads*/
  --text-font: 'Manrope', sans-serif; /* used for all other text */
}

html {
  box-sizing: border-box;
}
>>>>>>> f0c1d211f54f2fe1b986dabab74f36db06ea165c
